<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <head th:replace="layout-padrao::head(titulo='Erro Geral')" />
</head>

<body>
    <header th:replace="layout-padrao::header(titulo='Erro Geral')" />
    <div>
        <h1>Código do error: <span th:text="${status}"></span></h1>
        <p th:text="${error}"></p>
        <p th:text="${message}"></p>
    </div>
</body>

</html>