<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout-padrao::head(titulo='Novo Usuario')" />

<body>
    <header th:replace="layout-padrao::header(titulo='Novo Usuário')" />
    <div class="container">
        <form th:action="@{../editar/{id}(id=*{id})}" method="post" th:object="${usuario}">
            <div class="mb-3">
                <label for="" class="form-label">Nome </label>
                <input type="text" id="nome" class="form-control" placeholder="Nome" th:field="${usuario.nome}">
                <strong th:if="${#fields.hasErrors('nome')}" th:errors="${usuario.nome}"></strong>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Senha </label>
                <input type="password" id="password" class="form-control" placeholder="Senha"
                    th:field="${usuario.password}">
                <strong th:if="${#fields.hasErrors('password')}" th:errors="${usuario.password}"></strong>
            </div>
            <div>
                <input type="submit" value="Editar" class="btn btn-secondary float-end">
            </div>
        </form>
    </div>
</body>

</html>